*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
#doc-body{
    background-color: blueviolet;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    background-color: #f0f8ff;
    height: 400px;
    width: 500px;
    border-radius: 5px;
    text-align: center;
    padding: 30px;
}

#text-box, #add-btn{
padding: 7px;
border-radius: 5px;
}
#text-box{
    width: 300px;
    border-color: blue;
}

#add-btn{
width: 70px;
color: #f0f8ff;
background-color: blueviolet;
}

#to-do-list{
    margin-top: 30px;
}



#delete-button{
    background-color: blueviolet;
    color: #f0f8ff;
    border-radius: 5px;
}