*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
#doc-body{
    background-color: blueviolet;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    background-color: #f0f8ff;
    height: 400px;
    width: 500px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 0 20px black;
}

form{
    text-align: center;
}

#text-box, #add-btn{
padding: 7px;
border-radius: 5px;
}
#text-box{
    width: 300px;
    border-color: blue;
}

#add-btn{
width: 70px;
color: #f0f8ff;
background-color: blueviolet;
}

#to-do-list{
    margin-top: 30px;
}



#delete-button{
    background-color: blueviolet;
    color: #f0f8ff;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

table{
    border-collapse: collapse;
}

td{
    background-color: #c2ced9;
    padding: 8px;
    margin-top: 25px;
    border-top: 12px solid #f0f8ff;
}
.task-text {
    width: 95%;

}
.task-action {
    width: 15%;
    text-align: center;
}